*.*~
*.pyc
*.log
*.pdf
*.png
*tmp*
#*#

ttHtautauAnalyzer/test/*.root
ttHtautauAnalyzer/test/crab/
ttHtautauAnalyzer/test/*.txt
ttHtautauAnalyzer/test/EventDump*.py
ttHtautauAnalyzer/scripts/task_to_resubmit.txt

*.d
*.so
*.pcm